
.gallery {
    background-color: var(--main-bg-color);
}

.gallery ul {
    width: 80%;
    margin: 0 auto;
    padding: var(--nav-height) 0;
}

.gallery ul li {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}