.gallery {
    padding: 4rem 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /* position: relative; */
    row-gap: 0.6rem;
}

.gallery figure {
    width: 300px; 
    height: 300px;
    margin:0;
    padding:0;
    position: relative;
}

.gallery figure img {
    object-fit: cover;
}