.pricingSection {
    width: 100%;
    padding: var(--nav-height) 10%;
}

.pricingSectionHeading,
.pricingSectionSubHeading {
    width: max-content;
    margin: 1rem auto;
}

.pricingSectionHeading {
    font-size: var(--font-lg)
}

.pricingSectionSubHeading {
    font-size: var(--font-md)
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    row-gap: 2rem;
    /* height: 600px; */
}

/* .pricing {
    overflow-y: scroll;  

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

.pricing::-webkit-scrollbar {
    display: none;  
} */

.imageContainer {
    height: 400px;
    width: 400px;
    position: relative;
}

.imageContainer img {
    object-fit: cover;
}

.pricingContainer {
    /* width: 200px; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    justify-content: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    /* margin: 0 auto; */
}

.headingPricing {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headingPricing p {
    font-size: var(--font-md);
    margin: 1.25rem 1rem 0 1rem;
    font-weight: bold;
}

.pricingDescription p {
    margin: 1.25rem;
}

@media (min-width:1024px) {

    .pricing {
        flex-direction: row;
        justify-content: space-between;

    }

}