.socialsSection {
    width: 100%;
    height: 70vh;
    /* padding: var(--nav-height) 0; */
    display: flex;
    flex-direction: column;
}

.socials {
    /* background-color: #D9B4C1; */
    background-color: #ffc1d7;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    transform: scale(1, 1);
    border-radius: 0%;
    transition: transform 0.5s ease-in-out, border-radius 0.25s ease-in-out;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin: 1.5rem;
}

.socials svg {
    /* color:red; */
    width: 2rem;
    height: 2rem;
}

.socialHeader {
    display: flex;
    justify-content: space-between;
    height: 20%;
    font-size: var(--font-md);
    padding: 0 3rem;
    align-items: flex-start;
}


.socialFooter {
    display: flex;
    justify-content: space-between;
    height: 20%;
    padding: 0 3rem;
    font-size: var(--font-md);
    align-items: flex-end;
}


.socialContent {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socialContent .haiku {
    font-size: var(--font-md-0);
}

/* @keyframes shrink {
    from {
        transform: scale(1, 1);
        border-radius: 0%;
    }

    to {
        transform: scale(0.97, 0.97);
        border-radius: 1%;
    }
} */

@media (min-width:1024px) {
    .socialsSection {
        height: 100vh;
    }

    .socials:hover {
        transform: scale(0.88, 0.88);
        border-radius: 1%;
    }

    .socialContent .haiku {
        font-size: var(--font-lg);
    }


    .socialHeader {
        font-size: var(--font-md);
    }


    .socialFooter {
        font-size: var(--font-md);
    }
}

@media (max-width:320px) {

    .socialContent .haiku {
        font-size: var(--font-md-0);
        margin: var(--font-md-0) var(--font-md-0);
    }


    .socialHeader {
        font-size: var(--font-md);
        justify-content: center;
    }

    .socialHeader p:not(:first-of-type){
        display: none;
    }

    
    .socialFooter p {
        display: none;
    }
 
    .socialContent a {
        padding: 0.75rem 3.75rem;
        margin: 0 0 var(--font-md-0) 0;
    }

    .socialIcons {
        margin: 1.5rem auto;
        gap: 1rem;
    }

    .socialsSection {
        height: 100%
    }
}